footer(class="ui inverted black vertical footer segment")
  div(class="ui center aligned container")
    .section.wrapper
      img(src="/favicon.ico" alt="logo" class="ui centered mini image")
      ul(class="ui small divided list")
        li Free and open source (MIT)
        li Prefixy is currently in beta mode
        li Currently v1.0.0
