block menu
  nav(class="ui secondary pointing menu")
    a(class="item active" href="/") Home
    a(class="item" href="/story") Story
    a(class="item" href="/about") About Us
    a(
      class="item"
      href="https://github.com/jayshenk/prefixy"
      target="_blank"
    ) Source
