a(class="item" href="/") Home
a(class="item" href="/about") About
a(class="item" href="http://prefixy.github.io" target="_blank") Story
a(
  class="item"
  href="https://github.com/prefixy/prefixy"
  target="_blank"
) Source