nav
  ul
    li
      a(href="/") Home
    li
      a(href="/story") Story
    li
      a(href="/about") About Us
    li
      a(
        href="https://github.com/jayshenk/prefixy"
        target="_blank"
      ) Source
