extends layout

block content
  p Prefixy was built by a team of three software engineers, who developed this project remotely from across the country. We also happen to be looking for new work opportunities. Please don’t hesitate to reach out if we seem like a good fit for your team!

  p Interested in how Prefixy was built? Read the 
    a(
      class="item" 
      href="https://prefixy.github.io/"
    ) story behind Prefixy.

    

