extends layout

block content
  form(method="post" action="/tokens")
    input(type="submit" value="Auto-generate now!")

  h1 Prefixy
  p Aliquam placerat sem non tortor condimentum finibus. Cras vehicula tempus velit, in placerat sapien. Cras fermentum ex nulla, ac aliquet metus porttitor nec. Quisque nisl urna, ornare sollicitudin dolor ut, pretium convallis nunc. Aenean volutpat nulla libero, ac finibus tortor iaculis sit amet. Ut fermentum hendrerit dignissim. Praesent quis sem a ipsum lobortis luctus hendrerit sit amet dolor. Fusce venenatis ullamcorper condimentum. Morbi tellus tellus, maximus in varius quis, sollicitudin non mauris. Duis faucibus sagittis posuere.
  input(type="search")

  h2 What is this even?
  p Sed facilisis felis posuere dui lacinia laoreet. Curabitur a ex suscipit, bibendum tortor a, gravida turpis. Aliquam eget ante nec purus dictum ultrices eu nec diam. Donec finibus nunc mauris, et placerat enim vestibulum sed. Fusce ante orci, ornare non blandit ac, aliquet vitae neque. Vivamus elit est, efficitur id convallis sit amet, venenatis sit amet lectus. Fusce non facilisis turpis, eu congue neque.
  p Vivamus vehicula elementum semper. Sed euismod risus ac mi hendrerit mattis. Quisque eget tincidunt elit. Cras faucibus luctus rutrum. Nulla condimentum imperdiet nibh sit amet sagittis. Suspendisse eget tempus quam. Donec rhoncus lorem urna, sit amet dapibus augue ornare sed.
  form(method="post" action="/tokens")
    input(type="submit" value="Ready? 1-click auto-generate now")

  h2 Tell me the technical details
  p Sed facilisis felis posuere dui lacinia laoreet. Curabitur a ex suscipit, bibendum tortor a, gravida turpis. Aliquam eget ante nec purus dictum ultrices eu nec diam. Donec finibus nunc mauris, et placerat enim vestibulum sed. Fusce ante orci, ornare non blandit ac, aliquet vitae neque. Vivamus elit est, efficitur id convallis sit amet, venenatis sit amet lectus. Fusce non facilisis turpis, eu congue neque.
  p Vivamus vehicula elementum semper. Sed euismod risus ac mi hendrerit mattis. Quisque eget tincidunt elit. Cras faucibus luctus rutrum. Nulla condimentum imperdiet nibh sit amet sagittis. Suspendisse eget tempus quam. Donec rhoncus lorem urna, sit amet dapibus augue ornare sed.

  h2 Show me another demo
  p Sed facilisis felis posuere dui lacinia laoreet. Curabitur a ex suscipit, bibendum tortor a, gravida turpis. Aliquam eget ante nec purus dictum ultrices eu nec diam. Donec finibus nunc mauris, et placerat enim vestibulum sed. Fusce ante orci, ornare non blandit ac, aliquet vitae neque. Vivamus elit est, efficitur id convallis sit amet, venenatis sit amet lectus. Fusce non facilisis turpis, eu congue neque.
  input(type="search")


  h2 I want to do this myself
  p Sed facilisis felis posuere dui lacinia laoreet. Curabitur a ex suscipit, bibendum tortor a, gravida turpis. Aliquam eget ante nec purus dictum ultrices eu nec diam. Donec finibus nunc mauris, et placerat enim vestibulum sed. Fusce ante orci, ornare non blandit ac, aliquet vitae neque. Vivamus elit est, efficitur id convallis sit amet, venenatis sit amet lectus. Fusce non facilisis turpis, eu congue neque.
  a(
    download
    href="https://github.com/jayshenk/prefixy/archive/master.zip"
  ) Download Zip
  a(
    target="_blank"
    href="https://github.com/jayshenk/prefixy"
  ) View Github
