doctype html
html
  head
    block head
      title= title
      link(rel="stylesheet" href="/stylesheets/style.css")
      script(src="https://use.fontawesome.com/021fa0715f.js")
  body
    block body
      include partials/_nav
      block content
      block include partials/_foot
