extends layout

block content
  h2 And your token is...
  textarea(readonly rows="1" cols="50") xYgZf0s8sXs90px3
  small Don't lose this token, and remember to bookmark this page in case you need to come back.

  h2 How do I use this?
  p Vivamus vehicula elementum semper. Sed euismod risus ac mi hendrerit mattis. Quisque eget tincidunt elit. Cras faucibus luctus rutrum. Nulla condimentum imperdiet nibh sit amet sagittis. Suspendisse eget tempus quam. Donec rhoncus lorem urna, sit amet dapibus augue ornare sed.

  pre
    code &lt;script src=&quot;https://prefixy.io/autocomplete.js&quot;&gt;

  pre
    code &lt;script&gt;new PrefixyComplete(xYgZf0s8sXs90px3);&lt;/script&gt;

  h3 Example file
  pre
    code
      | &lt;html&gt;
      |   &lt;body&gt;
      |
      |     &lt;!-- ....stuff here --&gt;
      |
      |
      |     &lt;script src=&quot;https://prefixy.io/autocomplete.js&quot;&gt;
      |     &lt;script&gt;
      |       new PrefixyComplete(token);
      |     &lt;/script&gt;
      |   &lt;body&gt;
      | &lt;/html&gt;

  h2 Okay, what if I want custom options?
  p Vivamus vehicula elementum semper. Sed euismod risus ac mi hendrerit mattis. Quisque eget tincidunt elit. Cras faucibus luctus rutrum. Nulla condimentum imperdiet nibh sit amet sagittis. Suspendisse eget tempus quam. Donec rhoncus lorem urna, sit amet dapibus augue ornare sed.
  pre
    code
      | &lt;script&gt;
      |   const opts = {
      |     token: token,
      |     suggestionCount: 10
      |     minChars: 3,
      |     delay: 150
      |   };
      |
      |   new PrefixyComplete(opts);
      | &lt;/script&gt;
  h3 Supported options
  dl
    dt suggestionCount
    dd this does blah
    dt minChars
    dd this does blah blah
    dt delay
    dd this does blah blah blah

  h2 You're all set!
  p Vivamus vehicula elementum semper. Sed euismod risus ac mi hendrerit mattis. Quisque eget tincidunt elit. Cras faucibus luctus rutrum. Nulla condimentum imperdiet nibh sit amet sagittis. If you need more help, see our
    a(
      target="_blank"
      href="https://github.com/jayshenk/prefixy/tree/master/docs"
    )  documentation on github here.
