body {
  text-align: left;
  padding: 50px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.large.text {
   font-size: 1.4rem;
}

.italicized {
  font-style: italic;
}

@media(min-width: 500px)
