body {
  background: black;
  background-image: linear-gradient(white, white);
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  padding: 0 12px 75px 12px;
}

.ui.menu {
  position: fixed;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  border-radius: 0;
}

.ui.text.container {
  padding-top: 100px;
  min-height: 100%;
}

.positioned.right {
  position: absolute;
  right: 10px;
}

.section.wrapper {
  margin-top: 45px;
  margin-bottom: 45px;
}

.subheading {
  font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
  margin: 0 auto;
  max-width: 500px;
  font-weight: lighter;
  text-align: justify;
  font-size: 1.3rem;
}

.ui.footer.segment {
  margin: 100px -12px -50px -12px;
  color: rgba(255,255,255,.9);
}

.ui.inverted.black.segment {
  color: rgba(255,255,255,.9);
}

/* Mobile */

@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile),
  [class*="or lower hidden"],
  .ui.label {
    display: none !important;
  }

  .ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .subheading {
    text-align: left;
  }
}
