body {
  background: black;
  background-image: linear-gradient(white, white);
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  padding: 0 12px 75px 12px;
}

.ui.menu {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 11;
  border-radius: 0;
}

.ui.text.container {
  padding-top: 100px;
  min-height: 100%;
}

.positioned.right {
  position: absolute;
  right: 10px;
}

.section.wrapper {
  margin-top: 45px;
  margin-bottom: 45px;
}

.text-editor-wrap {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 530px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 5px;
  clear: both;
  overflow: hidden;
}

.title-bar {
  padding: 5px 0;
  font-family: "Lucida Grande", sans-serif;
  font-size: 0.75em;
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px;
  background-color: #f8f8f8;
  background-image: -webkit-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: -moz-linear-gradient(top, #e8e8e8, #bcbbbc);
  background-image: linear-gradient(top, #e8e8e8, #bcbbbc);
  box-shadow: inset rgba(255, 255, 255, 0.7) 0px 1px 1px;
  border-bottom: #6a6a6a 1px solid;
}

.text-body {
  height: 170px;
  background-color: rgba(0, 0, 0, 0.85);
  padding: 10px;
  color: #f0f0f0;
  text-shadow: #000 0px 1px 0px;
  font-family: "Consolas", "Courier New", "Courier";
  font-size: 1.2em;
  line-height: 1.40em;
  font-weight: 500;
  text-align: left;
  overflow: hidden;
}

#demo1-form {
  display: none;
}

.ui.footer.segment {
  margin: 100px -12px -50px -12px;
  color: rgba(255,255,255,.9);
}

.ui.inverted.black.segment {
  color: rgba(255,255,255,.9);
}

/* Mobile */

@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile),
  [class*="or lower hidden"],
  .ui.label {
    display: none !important;
  }

  .ui.container {
    margin-left: 0 !important;
    margin-right: 0 !important;
  }

  .subheading {
    text-align: left;
  }
}
