body {
  padding: 12px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.italicized {
  font-style: italic;
}

.positioned.right {
  position: absolute;
  right: 50px;
}

.section.wrapper {
  margin-top: 45px;
  margin-bottom: 45px;
}

/* Mobile */

@media only screen and (max-width: 767px) {
  [class*="mobile hidden"],
  [class*="tablet only"]:not(.mobile),
  [class*="computer only"]:not(.mobile),
  [class*="large monitor only"]:not(.mobile),
  [class*="widescreen monitor only"]:not(.mobile),
  [class*="or lower hidden"] {
    display: none !important;
  }

  .ui.container {
    margin-left: 0!important;
    margin-right: 0!important;
  }
}
